@model SistemaLavanderia.Models.Pedido

<h2>Excluir Pedido</h2>

<h4>Tem certeza que deseja excluir este pedido?</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Cliente</dt>
        <dd class="col-sm-10">@Model.Cliente?.Nome</dd>

        <dt class="col-sm-2">Tipo de Lavagem</dt>
        <dd class="col-sm-10">@Model.TipoLavagem</dd>

        <dt class="col-sm-2">Quantidade</dt>
        <dd class="col-sm-10">@Model.Quantidade</dd>

        <dt class="col-sm-2">Valor</dt>
        <dd class="col-sm-10">@Model.Valor.ToString("C")</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>